<!DOCTYPE html>

<HTML>
    <HEAD>
        <META charset="utf-8">
        <TITLE> Django Website </TITLE>    
    </HEAD>
    
    <BODY>
        <H2>A minha primeira página web em Django!</H2>
        
        <H3><A href="{% url 'livraria' %}" > Livraria LX </A></H3>
        
        <H3><A href="{% url 'pagina2' %}" > Quem sou eu </A></H3>
        
        <H3><A href="{% url 'editora' %}"> Editoras </A></H3>

        <H3><A href="{% url 'cidades' %}"> Cidades </A></H3>
        
        <H3><A href="{% url 'form1' %}"> Formulário </A></H3>
        
        <H3><A href="{% url 'registo' %}"> Registo </A></H3>
        
    </BODY>
        
</HTML>