{% extends "./base.html" %}

{% block content %}

{% if dados %}
    <TABLE align="center">
    {% for livro in dados %}
        <TR>
            <TD>
                <A href="/webapp1/{{ livro.id }}"> {{ livro.titulo }} </A>
            </TD>
            <TD>
                {% if livro.imagem %}
                    <IMG width="180" src="{{ livro.imagem.url }}" />
                {% endif %}
            </TD>
        </TR>
    {% endfor %}
    </TABLE>        
{% else %}

{% endif %}
    
{% endblock %}